<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hand of Death</title>
    <!-- Set base href for Angular routing -->
    <script>
      document.write('<base href="' + document.location + '" />');
      console.log(document.location);
    </script>
    <meta name="description" content="A D.I.Y. record label for heavy music.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  <link href="themes/ng/dist/styles.bundle.css" rel="stylesheet" />

  </head>
  <body>
    <app-root></app-root>
    <js-bottom-placeholder token="{{ placeholder_token }}">
    <script type="text/javascript" src="themes/ng/dist/inline.bundle.js"></script>
    <script type="text/javascript" src="themes/ng/dist/polyfills.bundle.js"></script>
    <script type="text/javascript" src="themes/ng/dist/vendor.bundle.js"></script>
    <script type="text/javascript" src="themes/ng/dist/main.bundle.js"></script>
  </body>
</html>
